In [1]:
# coding: utf-8
import pandas as pd
import numpy as np
import time
import math
from tqdm import tqdm
import matplotlib.pyplot as plt

from package.utils import KPIPoint
from package.utils import KPISet
from package.HotSpot import HotSpot

In [2]:
root_cause_set = pd.read_csv('../result/root_cause_set_valid.csv')
root_cause_set.head()

,timestamp,set,real_set
0,1536398100000,"[['e10', 'p10'], ['e10', 'p15'], ['e10', 'p19'...","[['c6', 'l3', 'e04', 'p26'], ['c3', 'p24', 'i6..."
1,1536413700000,"[['i28'], ['i46'], ['i14'], ['i47']]","[['e04', 'l3', 'c2', 'p05', 'i27'], ['e12', 'p..."
2,1536423000000,"[['e10', 'p10'], ['e10', 'p19'], ['e10', 'p01'...","[['c6', 'l3', 'e04', 'p26']]"
3,1536435000000,"[['e10', 'p19'], ['e10', 'p10'], ['e10', 'p21'...","[['i119', 'p18'], ['c6', 'l4'], ['i101', 'c7']..."
4,1536441900000,"[['e10', 'c5', 'p19'], ['e10', 'c1', 'p10'], [...","[['e04', 'l3', 'c2', 'p05', 'i27']]"

In [3]:
# 加载第二周数据
kSet_valid = KPISet({}, {})
kSet_valid.load('../result/metadata/KPISetValidPredict')

In [23]:
kSet_valid.get_ts_ele(ele=('e10', 'p10'), t1=1536398100, t2=1536398100+300, delta=300)

{'pred': [187754.99999999997, 184640.0], 'true': [229424, 229934]}

In [26]:
kSet_valid.get_descendant_elements_ele(1536398100, ('e10', 'p10'))

({('i03', 'e10', 'c5', 'p10', 'l3'): [2, 5.2857142857142856],
  ('i06', 'e10', 'c3', 'p10', 'l1'): [6, 0.14285714285714285],
  ('i06', 'e10', 'c3', 'p10', 'l3'): [761, 290.71428571428572],
  ('i06', 'e10', 'c3', 'p10', 'l4'): [32, 29.714285714285715],
  ('i06', 'e10', 'c5', 'p10', 'l1'): [162, 176.71428571428572],
  ('i06', 'e10', 'c5', 'p10', 'l2'): [174, 186.42857142857142],
  ('i06', 'e10', 'c5', 'p10', 'l3'): [126451, 104987.85714285714],
  ('i06', 'e10', 'c5', 'p10', 'l4'): [9893, 7842.2857142857147],
  ('i19', 'e10', 'c5', 'p10', 'l2'): [3, 6.8571428571428568],
  ('i19', 'e10', 'c5', 'p10', 'l3'): [249, 199.57142857142858],
  ('i19', 'e10', 'c5', 'p10', 'l4'): [22, 29.285714285714285],
  ('i25', 'e10', 'c5', 'p10', 'l4'): [10, 4.1428571428571432],
  ('i27', 'e10', 'c5', 'p10', 'l3'): [2, 0.8571428571428571],
  ('i33', 'e10', 'c1', 'p10', 'l3'): [1, 0.5714285714285714],
  ('i38', 'e10', 'c1', 'p10', 'l1'): [114, 104.28571428571429],
  ('i38', 'e10', 'c1', 'p10', 'l2'): [2382, 2300.2857142857142],
  ('i38', 'e10', 'c1', 'p10', 'l3'): [74370, 60575.0],
  ('i38', 'e10', 'c1', 'p10', 'l4'): [12618, 9914.0],
  ('i38', 'e10', 'c4', 'p10', 'l1'): [7, 2.4285714285714284],
  ('i38', 'e10', 'c4', 'p10', 'l2'): [33, 33.857142857142854],
  ('i38', 'e10', 'c4', 'p10', 'l3'): [1464, 707.85714285714289],
  ('i38', 'e10', 'c4', 'p10', 'l4'): [327, 136.14285714285714],
  ('i38', 'e10', 'c7', 'p10', 'l2'): [8, 15.0],
  ('i38', 'e10', 'c7', 'p10', 'l3'): [68, 29.285714285714285],
  ('i38', 'e10', 'c7', 'p10', 'l4'): [73, 34.0],
  ('i63', 'e10', 'c1', 'p10', 'l2'): [42, 16.285714285714285],
  ('i63', 'e10', 'c1', 'p10', 'l3'): [70, 55.428571428571431],
  ('i63', 'e10', 'c1', 'p10', 'l4'): [80, 70.714285714285708]},
 [229424, 187754.99999999997])

In [21]:
KPI = pd.read_csv('../anomaly_injection/anomaly/1536398100000.csv', header=None, names=['i', 'e', 'c', 'p', 'l', 'KPI'])
KPI[((KPI['e'] == 'e04') & (KPI['c'] == 'c6') & (KPI['p'] == 'p26') & (KPI['l'] == 'l3'))]

Empty DataFrame
Columns: [i, e, c, p, l, KPI]
Index: []